<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div ng-controller="MainCtrl" class="row">

		<stats  number="{{annual}}" comments="Annual leave used" colour="primary"
			type="gamepad" goto="dashboard.home"></stats>
		<stats number="{{personal}}" comments="Personal leave used" colour="green" type="briefcase"
			goto="dashboard.home"></stats>
		<stats number="{{sick}}" comments="Sick leave used!" colour="yellow" type="ambulance"
			goto="dashboard.home"></stats>
		<stats number="{{others}}" comments="Others leave used!" colour="red"
			type="shopping-cart" goto="dashboard.home"></stats>

	</div>
</div>
