<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">

		<stats number="{{annual}}" comments="Annual leave used" colour="primary" img="img/airplane.gif"
			type="gamepad" goto="dashboard.list-memberrecords({typeName:'annual', startDate:'{{startDate}}', endDate:'{{endDate}}'})"></stats>
		<stats number="{{personal}}" comments="Personal leave used" colour="green" img="img/money.gif"
			type="briefcase" goto="dashboard.list-memberrecords({ typeName: 'personal', startDate:'{{startDate}}', endDate:'{{endDate}}'})"></stats>
		<stats number="{{sick}}" comments="Sick leave used!" colour="yellow" img="img/sick.gif"
			type="ambulance" goto="dashboard.list-memberrecords({ typeName: 'sick', startDate:'{{startDate}}', endDate:'{{endDate}}'})"></stats>
		<stats number="{{others}}" comments="Other leave used!" colour="red" img="img/playstation.gif"
			type="shopping-cart" goto="dashboard.list-memberrecords({ typeName: 'others', startDate:'{{startDate}}', endDate:'{{endDate}}'})"></stats>

	</div>

	<!-- /.panel -->
	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Today's Leave</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover" st-pipe="callServer"
							st-table="displayed">
							<thead>
								<tr>
									<th>Applicant</th>
									<th>Type</th>
									<th>Start Date</th>
									<th>End Date</th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
								<tr ng-repeat="row in displayed"
									popover="reason: {{row.reason}}" popover-placement="top"
									popover-trigger="click">
									<td>{{row.applicant.name}}</td>
									<td>{{row.type.name}}</td>
									<td>{{row.startDate| date:'yyyy-MM-dd HH:mm:ss' }}</td>
									<td>{{row.endDate| date:'yyyy-MM-dd HH:mm:ss' }}</td>
								</tr>
							</tbody>
							<tbody ng-show="isLoading">
								<tr>
									<td colspan="4" class="text-center">Loading ...</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="text-center" st-pagination="" st-items-by-page="5"
										colspan="4"></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<div class="col-lg-6 col-sm-12" id="bar-chart">
			<div class="panel panel-default">
				<div class="panel-heading">Status</div>
				<div class="panel-body">
					<canvas id="bar" class="chart chart-bar" data="bar.data"
						legend="true" labels="bar.labels" series="bar.series"
						options="bar.options" colours="bar.colors"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-12" id="doughnut-chart">
			<div class="panel panel-default">
				<div class="panel-heading">Attend Record</div>
				<div class="panel-body">
					<canvas id="doughnut" class="chart chart-doughnut chart-xs"
						colours="donutRecord.colors" data="donutRecord.data"
						labels="donutRecord.labels" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12" id="doughnut-chart">
			<div class="panel panel-default">
				<div class="panel-heading">Event</div>
				<div class="panel-body">
					<canvas id="doughnut" class="chart chart-doughnut chart-xs"
						colours="donutEvent.colors" data="donutEvent.data"
						labels="donutEvent.labels" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
