<div class="pull-right">
	<a href="#!/edit-employee/0" class="btn btn-sm btn-success" title="Create"><i
		class="glyphicon glyphicon-plus"> </i></a>
</div>
<div class="page-header">
	<h3>Employee</h3>
</div>
<div>
	<table st-table="displayedCollection" st-safe-src="rowCollection"
		class="table table-striped">
		<thead>
			<tr>
				<th st-sort="id">id</th>
				<th st-sort="name">name</th>
				<th st-sort="username">username</th>
				<th st-sort="dateOfJoined">dateOfJoined</th>
				<th st-sort="email">email</th>
				<th st-sort="gender">gender</th>
				<th st-sort="department">department</th>
			</tr>
			<tr>
				<th colspan="8"><input st-search="" class="form-control"
					placeholder="global search ..." type="text" /></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.id}}</td>
				<td>{{row.name}}</td>
				<td>{{row.username}}</td>
				<td>{{row.dateOfJoined}}</td>
				<td>{{row.email}}</td>
				<td>{{row.gender}}</td>
				<td>{{row.department.name}}</td>
				<td><a href="#!/edit-employee/{{row.id}}" class="btn btn-sm btn-primary">
						<i class="glyphicon glyphicon-pencil"> </i>
				</a>
					<button type="button" ng-click="removeEntry(row)"
						class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove"> </i>
					</button></td>
			</tr>
		</tbody>
	</table>
</div>
<hr />