<div class="pull-right">
	<a href="#!/create" class="btn btn-default" ng-show="hasRole('admin')"
		title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="page-header">
	<h3>Employees</h3>
</div>
<div>
	<a href="#!/create" class="btn btn-sm btn-success" title="Create"><i
		class="glyphicon glyphicon-plus"> </i> Add random item</a>
	
	<table st-table="displayedCollection" st-safe-src="rowCollection"
		class="table table-striped">
		<thead>
			<tr>
				<th st-sort="firstName">id</th>
				<th st-sort="lastName">name</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control"
					placeholder="global search ..." type="text" /></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.id}}</td>
				<td>{{row.name}}</td>
				<td>
					<button type="button" ng-click="removeItem(row)"
						class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle"> </i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<hr />